<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <style type="text/css">
        html {
            background-color: #DDD;
        }
        body {
            background-color: #EEE;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'adminlinks/css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminlinks/css/toolbar.css' %}">
    <script src="{% static 'admin/js/jQuery.min.js' %}"></script>
    <script src="{% url 'adminlinks_toolbar' 'admin' %}?include_css={{ request.GET.include_css|default:'1' }}&include_html={{ request.GET.include_html|default:'1' }}&js_namespace=dollar"></script>
    <script src="{% static 'adminlinks/js/jquery.adminlinks.js' %}"></script>
    <script>
        (function ($) {
            $.adminlinks();
        })(jQuery);
    </script>
</head>
<body>
<div>
{% load adminlinks %}
    <ul style="position: relative">
        <li style="position: absolute;"><b {{ usermodel|adminlinks }}>model class</b></li>
    {% for user in users %}
        <li style="float: left; width: 50%; background-color: {% cycle '#FFC' '#FCF' %};"><b {{ user|adminlinks:'admin' }}>model instance '{{ user }}'</b>
            {% lorem 2 p %}
        </li>
    {% endfor %}
    </ul>

    &hellip;</div>
</body>
</html>
