<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <style type="text/css">
        html {
            background-color: #DDD;
        }
        body {
            background-color: #EEE;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'adminlinks/css/toolbar.css' %}">
</head>
<body>
<div>
    <ul>
    {% for user in users %}
        <li><b>{{ user }}</b>
            {% lorem 2 p %}
        </li>
    {% endfor %}
    </ul>

    &hellip;</div>
{% load adminlinks_toolbar %}
{% adminlinks_toolbar 'admin' %}
</body>
</html>
