.admin-toolbar-btn-group {
    display: inline-block;
}

.admin-toolbar-btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.admin-toolbar-caret {
    margin-top: 7px;
    margin-left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.admin-toolbar-dropdown-menu {
    position: absolute;
    left: -999em;
    min-width: 160px;
    padding: 4px 0;
    margin: -1px 0 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.admin-toolbar-dropdown-menu a,
.admin-toolbar-dropdown-menu b {
    display: block;
    padding: 3px 15px;
    clear: both;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.admin-toolbar-dropdown-menu li > a:hover {
    color: white;
    background-color: #08C;
}

.admin-toolbar-hide-title {
    display: none;
}
.admin-toolbar-btn-group:hover .admin-toolbar-dropdown-menu {
    left: auto;
}

.admin-toolbar-btn-group:hover .admin-toolbar-btn {
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}

.admin-toolbar-dropdown-menu .divider {
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
    background-color: #E5E5E5;
    border-bottom: 1px solid white;
}
