#django-adminlinks-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #10141c;
    z-index: 9998;
}

#django-adminlinks-wrapper {
    width: 86%;
    min-width: 780px;
    max-width: 86%;
    min-height: 5%;
    height: 59%;
    position: fixed;
    top: 20%;
    left: 7%;
    margin: 0;
    padding: 0.5%;
    background: white;
    background: white url(data:image/gif;base64,R0lGODlhEAALAPQAAFuAsv///3KRvHiWv2eJt/r7/P///+Dn8Kq918DO4Yahxujt887Z56W51L3M4ISfxeXr8vv8/MvX5mqLuXOSvWGEtNri7XCQvGKFtYmjx5euznyZwWWHtgAAAAAAAAAAACH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAALAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQACwABACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQACwACACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQACwADACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAALAAQALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkEAAsABQAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAALAAYALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkEAAsABwAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA) 50% 50% no-repeat;
    -webkit-box-shadow: 1px 1px 30px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 30px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 30px 3px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#django-adminlinks-close {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 9999;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    overflow: hidden;
    font-family: arial, sans-serif;
    text-align: center;
    color: white;
}

#django-adminlinks-close:hover {
    color: #FCC;
    font-size: 32px;
}

#django-adminlinks-content,
#django-adminlinks-content iframe {
    width: 100%;
    height: 100%;
    border: 0 !important;
}

.django-adminlinks-open {
    overflow: auto;
}

