.adminlinks-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    line-height: 1.42857143;
}

.adminlinks-fragment-wrapper {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}


.adminlinks-dropdown {
    position: relative;
}

/*.adminlinks-wrapper:hover .adminlinks-enabler {*/
    /*background-color: red;*/
/*}*/

.adminlinks-enabler,
.adminlinks-fragment-icon {
    color: #333;
    background-color: #FFF;
    display: inline-block;
    padding: 1px 5px;
    margin-bottom: 0;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    /*-webkit-transition:all 0.3s ease 0s;*/
    /*-moz-transition:all 0.3s ease 0s;*/
    /*-o-transition:all 0.3s ease 0s;*/
    /*transition: all 0.3s ease 0s;*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
}

.adminlinks-enabler {
    font-size: 14px;
    position: relative;
}

.adminlinks-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #E5E5E5;
}

.adminlinks-dropdown-menu,
.adminlinks-fragment-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: -1px 0 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #FFF;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.adminlinks-wrapper:hover .adminlinks-enabler,
.adminlinks-fragment-wrapper:hover .adminlinks-fragment-icon {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

.adminlinks-fragment-wrapper {
    position: relative;
    display: inline-block;
}
.adminlinks-dropdown-submenu {
    position: relative;
}

/* when hovering over the root element, show the first level nav */
.adminlinks-wrapper:hover > .adminlinks-dropdown > .adminlinks-dropdown-menu,
.adminlinks-wrapper:focus > .adminlinks-dropdown > .adminlinks-dropdown-menu,
.adminlinks-fragment-wrapper:hover > .adminlinks-fragment-menu {
    display: block;
}

/* when hovering over one of the firt-level nodes, show the second level */
.adminlinks-dropdown-submenu:hover .adminlinks-dropdown-menu,
.adminlinks-dropdown-submenu:focus .adminlinks-dropdown-menu,
.adminlinks-fragment-link:hover,
.adminlinks-fragment-link:focus {
    display: block;
}

/* copy-pasted from http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3 */
.adminlinks-dropdown-submenu .adminlinks-dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
}
.adminlinks-dropdown-menu-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.adminlinks-dropdown-menu-title,
.adminlinks-dropdown-menu-link,
.adminlinks-fragment-link {
    display: block;
    padding: 3px 20px 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.adminlinks-dropdown-menu-title:hover,
.adminlinks-dropdown-menu-title:focus,
.adminlinks-dropdown-menu-link:hover,
.adminlinks-dropdown-menu-link:focus,
.adminlinks-fragment-link:hover,
.adminlinks-fragment-link:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.adminlinks-dropdown-menu-title:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #CCC;
    margin-top: 5px;
    margin-right: -10px;
}

.adminlinks-dropdown-menu-title:hover:after,
.adminlinks-dropdown-menu-title:focus:after {
    border-left-color: #333;
}


.adminlinks-dropdown-menu-link-icon-add,
.adminlinks-dropdown-menu-link-icon-changelist {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*body.adminlinks-iframe-loading,*/
/*body.adminlinks-iframe-open {*/
    /*overflow: hidden;*/
/*}*/

body.adminlinks-iframe-loading .adminlinks-wrapper,
body.adminlinks-iframe-loading .adminlinks-fragment-wrapper,
body.adminlinks-iframe-open .adminlinks-wrapper,
body.adminlinks-iframe-open .adminlinks-fragment-wrapper
{
    left: -1000rem;
}

/* normal adminsite stuff */
.adminlinks-enabler__admin {
    background: #417690;
    color: #FFC;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-color: #417690;
}

.adminlinks-fragment-icon__admin {
    background: #FFF url('../../admin/img/icon_changelink.gif') 50% 50% no-repeat;
    padding-left: 0.4rem;
    line-height: 1;
    padding-right: 0.4rem;
    border-color: #CCC;
    /*width: 1rem;*/
    /*padding: 0;*/
    /*height: 1rem;*/
    border-color: rgba(0, 0, 0, 0.15);
}

.adminlinks-wrapper:hover .adminlinks-enabler__admin,
.adminlinks-fragment-wrapper:hover .adminlinks-fragment-icon__admin {
    background-color: #5B80B2;
    border-color: #5B80B2;
}


.adminlinks-dropdown-menu-title,
.adminlinks-dropdown-menu-link,
.adminlinks-fragment-link {
    color: #5B80B2;
}

.adminlinks-dropdown-menu-title:hover,
.adminlinks-dropdown-menu-title:focus,
.adminlinks-fragment-link:hover,
.aadminlinks-fragment-link:focus,
.adminlinks-dropdown-menu-link:hover,
.adminlinks-dropdown-menu-link:focus {
    background-color: #5B80B2;
    color: #FFF;
}

.adminlinks-dropdown-menu-title:after {
    border-left-color: #5B80B2;
}

.adminlinks-dropdown-menu-title:hover:after,
.adminlinks-dropdown-menu-title:focus:after {
    border-left-color: #FFF;
}


.adminlinks-dropdown-menu-link-icon-add__admin {
    width: 1.42857143em;
    height: 1.42857143em;
    border-radius: 1em;
    display: inline-block;
    background: #FFF url('../../admin/img/icon_addlink.gif') 50% 50% no-repeat;
}

.adminlinks-dropdown-menu-link-icon-changelist__admin {
    width: 1.42857143em;
    height: 1.42857143em;
    border-radius: 1em;
    display: inline-block;
    background: #FFF url('../../admin/img/icon_changelink.gif') 50% 50% no-repeat;
}
