.admin-toolbar-btn-group {
    display: inline-block;
}

.admin-toolbar-btn {
    padding: 3px 5px;
    color: black;
    border: 1px solid #BBB;
    border-color: #DDD #AAA #AAA #DDD;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    background: white;
    background: -moz-linear-gradient(top, #ffffff 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
}

.admin-toolbar-btn:hover {
}


.admin-toolbar-dropdown-menu {
    position: absolute;
    left: -999em;
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    text-rendering: optimizelegibility;
    color: black;
}
.admin-toolbar-dropdown-menu a,
.admin-toolbar-dropdown-menu b {
    display: block;
    padding: 3px 5px;
    clear: both;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.admin-toolbar-dropdown-menu li > a:hover {
    color: white;
    background: #5B80B2;
    background: -moz-linear-gradient(top, #b3c5e5 0%, #708abd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3c5e5), color-stop(100%,#708abd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b3c5e5 0%,#708abd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b3c5e5 0%,#708abd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b3c5e5 0%,#708abd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b3c5e5 0%,#708abd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c5e5', endColorstr='#708abd',GradientType=0 ); /* IE6-9 */
}

.admin-toolbar-hide-title {
    display: none;
}
.admin-toolbar-btn-group:hover .admin-toolbar-dropdown-menu {
    left: auto;
}

.admin-toolbar-btn-group:hover .admin-toolbar-btn {
}

.admin-toolbar-dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #EEE;
    border-bottom: 1px solid white;
}
