.django-adminlinks--btn {
    padding: 3px 5px;
    color: #666;
    border: 1px solid;
    border-color: #DDD #AAA #AAA #DDD;
    vertical-align: middle;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.1;
    background: white;
    background: -moz-linear-gradient(top, #ffffff 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 1px 0 white;
}

.django-adminlinks--btn:hover,
.django-adminlinks--btn:focus {
    border: 1px solid;
    border-color: #CCC #888 #888 #CCC;
    background: #eee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#bbbbbb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#bbbbbb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#bbbbbb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
    color: #444;
}

.django-adminlinks--btn:active {
    border: 1px solid;
    text-shadow: 0 -1px 0 white;
    border-color: #888 #CCC #CCC #888;
}

.django-adminlinks--btn--important {
    vertical-align: baseline;
    color: #383838;
}

.django-adminlinks--btn:hover .django-adminlinks--btn--important,
.django-adminlinks--btn:active .django-adminlinks--btn--important,
.django-adminlinks--btn:focus .django-adminlinks--btn--important {
    color: #242424;
}

.django-adminlinks--btn--grouper {
    position: absolute;
}

.django-adminlinks--btn--collection {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.django-adminlinks--btn--grouper:hover .django-adminlinks--btn--collection {
    display: inline-block;
}

.django-adminlinks--toggle {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    overflow: hidden;
    display: block;
    /* copy bits from django-adminlinks--btn */
    padding: 3px 5px;
    color: #666;
    border: 1px solid;
    border-color: #DDD #AAA #AAA #DDD;
    vertical-align: baseline;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
    background: white;
    background: -moz-linear-gradient(top, #ffffff 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 white;
}

/* if jQuery found toggle buttons, hide the main buttons */
.django-adminlinks--maytoggle .django-adminlinks--btn {
    display: none;
}

/* if jQuery found toggle buttons, and the toggle is currently ON, show stuff */
.django-adminlinks--maytoggle.django-adminlinks--admin-editing .django-adminlinks--btn {
     /*inline block is what the buttons are declared as above */
    display: inline-block;

     /*an alternative way would be:*/
    /*position: absolute;*/
    /*top: -1000px;*/
    /*and then on active (ie: here)*/
    /*position: static;*/

}

/* if the popup is open ... */
.django-fancyiframe-open .django-adminlinks--toggle {
    /*display: none;*/
}

/* active admin */
.django-adminlinks--admin-editing .django-adminlinks--toggle {

}

.django-adminlinks--toggle--enable {
    display: block;
}

.django-adminlinks--toggle--disable {
    display: none;
}

.django-adminlinks--admin-editing .django-adminlinks--toggle--disable {
    display: block;
}

.django-adminlinks--admin-editing .django-adminlinks--toggle--enable {
    display: none;
}
