{% if links %}
{% load i18n %}
<div class="django-adminlinks--btn--grouper">
    <span class="django-adminlinks--btn">{% blocktrans with verbose_name as name %}Manage this {{ name }}{% endblocktrans %}</span>

    <span class="django-adminlinks--btn--collection">
        {% include "adminlinks/edit_link.html" with link=links.change verbose_name=verbose_name only %}
        {% include "adminlinks/delete_link.html" with link=links.delete verbose_name=verbose_name only %}
        {% include "adminlinks/history_link.html" with link=links.history verbose_name=verbose_name only %}
        {% include "adminlinks/add_link.html" with link=links.add verbose_name=verbose_name only %}
        {% include "adminlinks/changelist_link.html" with link=links.changelist verbose_name=verbose_name_plural only %}

    </span>
</div>
{% endif %}
