<html>
<head>
    <title>Closing&hellip;</title>
<script type="text/javascript">
    {% include "adminlinks/something_changed.js" %}

    ;(function($, doc, iframe, undefined) {
        // Note: JSON is wrapped into a JavaScript array because
        // every index is passed as a positional argument to the
        // callees when using .trigger()
        params = [{{ json|safe }}];
        $(doc).trigger('fancyiframe-close', params);
    })(parent.window.jQuery, parent.document, document);
</script>
</head>
<body></body>
</html>
