{% load i18n %}
{% load url from future %}
<div class="dropdown">
    <a role="button" data-toggle="dropdown" class="btn btn-primary" href="{{ adminlinks.admin_index|default:'#' }}">
        Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        {% for app in adminlinks.apps %}
            <li class="divider"></li>
{#        <li class="admin-toolbar-{{ app_label|slugify }}">#}
{#            <a href="{{ app.app_url }}">{{ app.name }}</a>#}
{#            <ul class="dropdown-menu">#}
                {% for model in app.models %}
                <li>{{ model.name }}
                    <ul class="dropdown-menu">
                        {% if model.add_url %}
                        <li>
                        <a href="{{ model.add_url }}" data-adminlink-url="{{ model.add_url }}">{% trans "Add" %}</a>
                        </li>
                        {% endif %}
                        {% if model.admin_url %}
                        <li>
                        <a href="{{ model.admin_url }}" data-adminlink-url="{{ model.admin_url }}">{% trans "Change" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
{#            </ul>#}
{#        </li>#}
        {% endfor %}
    </ul>
</div>

