{% spaceless %}
{% load i18n %}
{% load url from future %}
<div class="adminlinks-wrapper adminlinks-wrapper__{{ adminlinks.namespace }} {{ adminlinks.position }}" id="adminlinks-for-{{ adminlinks.namespace }}">
<div class="adminlinks-dropdown adminlinks-dropdown__{{ adminlinks.namespace }}">
    <span role="button" data-toggle="dropdown" class="adminlinks-enabler adminlinks-enabler__{{ adminlinks.namespace }}" title="{% trans 'Site administration' %}">{% trans 'admin' %}
    </span>
    <ul class="adminlinks-dropdown-menu adminlinks-dropdown-menu__{{ adminlinks.namespace }}" role="menu">
        {% for app in adminlinks.apps %}
            {% if not forloop.first %}<li class="adminlinks-divider adminlinks-divider__{{ adminlinks.namespace }}"></li>{% endif %}
            {% for model in app.models %}
            <li class="adminlinks-dropdown-submenu adminlinks-dropdown-submenu__{{ adminlinks.namespace }}"><a href="{{ app.app_url }}" data-adminlinks-url="{{ app.app_url }}" class="adminlinks-dropdown-menu-title adminlinks-dropdown-menu-title__{{ adminlinks.namespace }}">{{ model.name }}</a>
                <ul class="adminlinks-dropdown-menu adminlinks-dropdown-menu__{{ adminlinks.namespace }}">
                    {% if model.add_url %}
                    <li>
                    <a href="{{ model.add_url }}" data-adminlinks-url="{{ model.add_url }}" class="adminlinks-dropdown-menu-link adminlinks-dropdown-menu-link__{{ adminlinks.namespace }}">
                        <span class="adminlinks-dropdown-menu-link-icon-add adminlinks-dropdown-menu-link-icon-add__{{ adminlinks.namespace }}">&nbsp;</span> {% trans "Add new" %}</a>
                    </li>
                    {% endif %}
                    {% if model.admin_url %}
                    <li>
                    <a href="{{ model.admin_url }}" data-adminlinks-url="{{ model.admin_url }}" class="adminlinks-dropdown-menu-link adminlinks-dropdown-menu-link__{{ adminlinks.namespace }}">
                        <span class="adminlinks-dropdown-menu-link-icon-changelist adminlinks-dropdown-menu-link-icon-changelist__{{ adminlinks.namespace }}">&nbsp;</span> {% trans "Browse" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        {% endfor %}
        {% if adminlinks.index or adminlinks.change_password or adminlinks.logout %}
        {% if adminlinks.apps|length > 0 %}<li class="adminlinks-divider adminlinks-divider__{{ adminlinks.namespace }}"></li>{% endif %}
        <li class="adminlinks-dropdown-submenu adminlinks-dropdown-submenu__{{ adminlinks.namespace }}"><span class="adminlinks-dropdown-menu-title adminlinks-dropdown-menu-title__{{ adminlinks.namespace }}">Options</span>
        <ul class="adminlinks-dropdown-menu adminlinks-dropdown-menu__{{ adminlinks.namespace }}">
            {% if adminlinks.index %}
                <li>
                <a href="{{ adminlinks.index }}" data-adminlinks-url="{{ adminlinks.index }}" class="adminlinks-dropdown-menu-link adminlinks-dropdown-menu-link__{{ adminlinks.namespace }}">{% trans 'Go to admin' %}</a>
                </li>
            {% endif %}
            {% if user.has_usable_password and adminlinks.change_password  %}
            <li>
                <a href="{{ adminlinks.change_password }}" data-adminlinks-url="{{ adminlinks.change_password }}" class="adminlinks-dropdown-menu-link adminlinks-dropdown-menu-link__{{ adminlinks.namespace }}">{% trans 'Change password' %}</a>
            </li>
            {% endif %}
            {% if user.is_authenticated and adminlinks.logout %}
            <li><a href="{{ adminlinks.logout }}" data-adminlinks-url="{{ adminlinks.logout }}" class="adminlinks-dropdown-menu-link adminlinks-dropdown-menu-link__{{ adminlinks.namespace }}">
                {% trans 'Log out' %}</a></li>
            {% endif %}
        </ul>
        </li>
        {% endif %}
    </ul>
</div>
</div>
{% endspaceless %}
